%html
	%head
	%body
		%h1 This is the body of the email.
		%h3 This is the rest of the email.
		%p This is the answer to the first question: #{@one}
		%p This is the answer to the third question: #{@three}